@font-face {
    font-family: 'iconfont';
    src: url('../fonts/font_1466065367_3793232.eot'); /* IE9*/
    src: url('../fonts/font_1466065367_3793232.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/font_1466065367_3793232.woff') format('woff'), /* chrome、firefox */
    url('../fonts/font_1466065367_3793232.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('../fonts/font_1466065367_3793232.svg#iconfont') format('svg'); /* iOS 4.1- */
}